// 全局css
// 權重: 需求頁面 > main.js > App.vue
.bgContainer {
  min-height: 100vh;
  background-color: #f7f7fb;
  padding: 16px 24px;
}

label {
  color: #000;
  font-size: 14px;
}

.container {
  border-radius: 30px;
  background-color: white;
  padding: 16px 24px;
}

.required {
  color: #e65757;
}

// 全局 btn
.q-btn {
  font-size: 12px;
}

// 顯示篩選 icon
.q-table__sort-icon {
  opacity: 1;
  color: #a8a8a8;
  font-size: 100%;
}
